<!-- procurement01/create_rfx_step2.html -->

{% extends 'procurement01/layout.html' %}
{% load static%}
{% load custom_filters %}

{% block title %}Create RFX - Step 2{% endblock %}

{% block content %}

    
    

    <form id="rfx-skus-form" method="POST">
        {% csrf_token %}
        <input type="hidden" id="navigation_destination" name="navigation_destination" value="">
        <input type = "hidden" id ="step_number" name = "step_number" value = {{step}} />

        {% include 'procurement01/_sku_table.html' %}
    </form>
{% endblock %}

{% block scripts %}
    <!-- Include the shared JavaScript file for SKU management -->
    <script src="{% static 'js/shared_sku.js' %}"></script>
{% endblock %}
