{% extends 'procurement01/layout.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Create RFP - Step 4{% endblock %}

{% block content %}

<h2>Create RFP - Step 4: Add SKU-Specific Questions to "{{ rfp.title }}"</h2>


<div class="d-flex justify-content-between mt-4">
    <!-- Button to submit the form and continue to the next step -->
    <button type="button" id="back-to-step-3-btn" class="btn btn-primary" >Back to step 3</button>
    <button type="button" id="continue-to-step-5-btn" class="btn btn-primary" >Continue to Step 5</button>
</div>


<form id="rfp-sku-questions-form" method="POST" >
    {% csrf_token %}
    <input type="hidden" id="navigation_destination" name="navigation_destination" value="">

    {% include 'procurement01/__sku_specific_questions_creation_table.html' %}

</form>


{% endblock %}

{% block scripts %}
<!-- Include JavaScript file for handling SKU-specific questions -->
<script src="{% static 'js/shared_sku.js' %}"></script>
{% endblock %}

