<!-- procurement01/create_rfp_step2.html -->

{% extends 'procurement01/layout.html' %}
{% load static%}
{% load custom_filters %}

{% block title %}Create RFP - Step 2{% endblock %}

{% block content %}
    <h2>Create RFP - Step 2: Add SKUs to "{{ rfp.title }}"</h2>

    <form id="rfp-skus-form" method="POST">
        {% csrf_token %}
        <input type="hidden" id="navigation_destination" name="navigation_destination" value="">
        {% include 'procurement01/_sku_table.html' %}
    </form>
{% endblock %}

{% block scripts %}
    <!-- Include the shared JavaScript file for SKU management -->
    <script src="{% static 'js/shared_sku.js' %}"></script>
{% endblock %}
