{% extends 'procurement01/layout.html' %}
{% load static %}

{% block title %}Create RFP - Step 3: Add General Questions{% endblock %}

{% block content %}
<h2>Create RFP - Step 3: Add General Questions</h2>

<form method="POST" id="question-form">
    {% csrf_token %}
    {% include 'procurement01/general_questions_section.html' %}
    <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-secondary" name="navigation_destination" value="step2">Back to Step 2</button>
        <button type="submit" class="btn btn-primary" name="navigation_destination" value="step4">Save and Continue to Step 4</button>
    </div>
</form>


{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/@yaireo/tagify"></script>
<link rel="stylesheet" href="https://unpkg.com/@yaireo/tagify/dist/tagify.css">
<script src="{% static 'js/general_questions_shared.js' %}"></script>
{% endblock %}
