{% extends 'procurement01/layout.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Create RFP - Step 4{% endblock %}

{% block content %}





<form id="rfp-sku-questions-form" method="POST" >
    {% csrf_token %}
    <input type="hidden" id="navigation_destination" name="navigation_destination" value="">

    {% include 'procurement01/__sku_specific_questions_creation_table.html' %}

</form>


{% endblock %}

{% block scripts %}
<!-- Include JavaScript file for handling SKU-specific questions -->
<script src="{% static 'js/shared_sku.js' %}"></script>
{% endblock %}

