{% extends 'procurement01/layout.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}General Questions Analysis - {{ rfx.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="section-header">
        <h2>General Questions Analysis</h2>
    </div>

    <div>
    <!-- Full-Screen Toggle Button -->
    <button id="toggle-fullscreen-btn" class="btn btn-primary">Full Screen</button>
    <a href="{% url 'sku_specific_question_responses_analysis' rfx.id %}" class="btn btn-secondary">SKU Specific Question Responses</a>
    
    </div>

    <div id="analysis-fullscreen" class="table-wrapper">
        <button id="exit-fullscreen-btn" class="btn btn-secondary d-none">Exit Full Screen</button>
        <div id = "table-freeze" class="table-freeze">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th class="question-header">General Questions</th>
                        {% for response in supplier_responses %}
                            <th>{{ response.supplier.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for question in general_questions %}
                    <tr>
                        <td class="question-cell">{{ question.question_text }}</td>
                        {% for supplier_response in supplier_responses %}
                        <td>
                            {% with response_data|dict_get:question.id as supplier_responses %}
                                {% with supplier_responses|dict_get:supplier_response.supplier.id as answer %}
                                    {% if answer %}
                                        {% if question.question_type == 'text' %}
                                            {{ answer.answer_text }}
                                        {% elif question.question_type in multi_choice_types %}
                                            {{ answer.answer_choice }}
                                        {% elif question.question_type == 'File upload' %}
                                            {% if answer.answer_file %}
                                                <a href="{{ answer.answer_file.url }}" target="_blank">Download</a>
                                            {% else %}
                                                <em>No file uploaded</em>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <em>No response</em>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/general_questions_analysis.js' %}"></script>
{% endblock %}


