{% extends "procurement01/layout.html" %}
 {% load custom_filters %}

{% block title %}General Question Analysis{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Questions</th>
                {% for supplier_response in supplier_responses %}
                    <th>{{ supplier_response.supplier }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for GQ in general_questions %}
                <tr>
                    <td>{{ GQ.question_text }}</td>
                    {% for supplier_response in supplier_responses %}
                        <td>
                            {% with responses_dict|get_item:GQ.id as supplier_response_dict %}
                                {% if supplier_response_dict %}
                                    {% with supplier_response_dict|get_item:supplier_response.id as response %}
                                        {% if response %}
                                            {% if response.answer_text %}
                                                {{ response.answer_text }}
                                            {% elif response.answer_choice %}
                                                {{ response.answer_choice }}
                                            {% elif response.answer_number %}
                                                {{ response.answer_number }}
                                            {% elif response.answer_date %}
                                                {{ response.answer_date }}
                                            {% elif response.answer_file %}
                                                <a href="{{ response.answer_file.url }}" target="_blank">Download File</a>
                                            {% else %}
                                                No Response
                                            {% endif %}
                                        {% else %}
                                            No Response
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    No Response
                                {% endif %}
                            {% endwith %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}
