{% extends 'procurement01/layout.html' %}

{% block title %}Supplier List{% endblock %}

{% block content %}
<h2>Suppliers for {{ user.company.name }}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Supplier Name</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create_supplier' %}" class="btn btn-primary">Create New Supplier</a>  
{% endblock %}

