
{% load custom_filters %}

<table>
    <thead>
        <tr>
            <th>SKU Name</th>
            {% for column in extra_columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sku in processed_skus %}
            <tr>
                <td>{{ sku.sku_name }}</td>
                {% for column in extra_columns %}
                    <td>{{ sku.extra_data|get_item:column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
