{% extends 'procurement01/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Create RFX - Step 5{% endblock %}

{% block content %}

<div id="main-content-wrapper">

    <h2>Finalize RFX</h2>
    <!-- Wrap the entire content in a single form -->
    <form method="POST" enctype="multipart/form-data" id="finalize-rfx-form">
        <input type="hidden" id="navigation_destination" name="navigation_destination" value="">
    {% csrf_token %}

        <!-- RFX Basic Information Section -->
        <div class="container mt-5">
            <div class="card shadow-lg border-0">
                <div class="card-header">
                    <h3 class="mb-0">RFX Basic Information</h3>
                </div>
                <div class="card-body">
                    <!-- Render RFX Basic Form -->
                    {{ rfx_form.as_p }}
                    {% if rfx_form.errors %}
                        <div class="alert alert-danger">
                            {{ rfx_form.errors }}
                        </div>
                    {% endif %}

                    <!-- File Upload Section -->
                    <!-- Include the shared file upload section -->
                    {% include 'procurement01/file_upload_section.html' %}


                </div>
            </div>
        </div>

        <!-- General Questions Section -->
        {% include 'procurement01/general_questions_section.html' %}
        
        <!-- SKUs and SKU-specific Questions Section -->
        {% include 'procurement01/__sku_specific_questions_creation_table.html' %}

        <!-- Finalize RFX Button -->
        <div class="container mt-5">
            <div class="d-flex justify-content-end">
                <button type="button" id="back-to-step-4-btn" class="btn btn-primary" >Back to step 4</button>
                <button type="button" id = "finalize-rfx-btn" class="btn btn-primary">Finalize RFX</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}

<!-- Include necessary JS files -->

<!-- Include Tagify JS and CSS for General Questions -->
<script src="https://unpkg.com/@yaireo/tagify"></script>
<link rel="stylesheet" href="https://unpkg.com/@yaireo/tagify/dist/tagify.css">

<!-- Link to the external JavaScript file for Step 5 -->
<script src="{% static 'js/file_upload.js' %}"></script>

<script type="module" src="{% static 'js/shared_sku.js' %}"></script>
<script type="module" src="{% static 'js/general_questions_shared.js' %}"></script>




{% endblock %}
