{% extends 'procurement01/layout.html' %}
{% load static %}

{% block title %}Create RFX - Step 3: Add General Questions{% endblock %}

{% block content %}
<h2>Create RFX - Step 3: Add General Questions</h2>

<form method="POST" id="question-form">
    {% csrf_token %}
    {% include 'procurement01/general_questions_section.html' %}
    <input type="hidden" id="navigation_destination" name="navigation_destination" value="">
    
</form>


{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/@yaireo/tagify"></script>
<link rel="stylesheet" href="https://unpkg.com/@yaireo/tagify/dist/tagify.css">
<script type="module" src="{% static 'js/general_questions_shared.js' %}"></script>

{% endblock %}
